API_BASE_URL=https://service.staging.dispattch.dev

NEXT_PUBLIC_KEYCLOAK_URL=https://service.staging.dispattch.dev
NEXT_PUBLIC_KEYCLOAK_REALM=dispatch
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=my-client
KEYCLOAK_CLIENT_SECRET=your-client-secret-here
